blinker==1.9.0
aiohappyeyeballs==2.4.4
jupyter_core==5.7.2
markdown-it-py==2.2.0
markdown-it-py==3.0.0
pydub==0.25.1
jupyterlab-pygments==0.1.2
mdurl==0.1.2
mdurl==0.1.0
Send2Trash==1.8.2
gradio==5.9.1
pyarrow==16.1.0
patsy==0.5.6
huggingface_hub==0.27.0
stack-data==0.2.0
rouge_score==0.1.2
triton==3.1.0
flatbuffers==24.12.23
multidict==6.1.0
onnxruntime-gpu==1.20.1
docker-pycreds==0.4.0
cachetools==5.5.0
six==1.16.0
wrapt==1.17.0
sympy==1.13.1
comm==0.2.1
debugpy==1.6.7
pandas==2.2.3
tqdm==4.66.5
responses==0.13.3
smart-open==7.1.0
protobuf==5.29.2
asttokens==2.0.5
cloudpathlib==0.20.0
setproctitle==1.3.4
jupyter_server_terminals==0.4.4
evaluate==0.4.0
nltk==3.9.1
tinycss2==1.2.1
watchdog==6.0.0
wcwidth==0.2.5
torchvision==0.20.1
mistune==2.0.4
python-dateutil==2.9.0.post0
dill==0.3.8
uvicorn==0.34.0
datasets==3.2.0
torchaudio==2.5.1
overrides==7.4.0
jupyterlab_server==2.27.3
beautifulsoup4==4.12.3
tzdata==2023.3
jsonschema-specifications==2023.7.1
jsonschema==4.23.0
pure-eval==0.2.2
torch==2.5.1
rich==13.9.4
mdit-py-plugins==0.3.3
gmpy2==2.1.2
urllib3==2.2.3
fastjsonschema==2.20.0
langcodes==3.5.0
mkl_random==1.2.8
tomlkit==0.13.2
ptyprocess==0.7.0
propcache==0.2.0
colorama==0.4.6
accelerate==1.2.1
language_data==1.3.0
linkify-it-py==2.0.3
jedi==0.19.2
ninja==1.11.1.3
fsspec==2024.6.1
pypdfium2==4.30.1
portalocker==3.1.1
rpds-py==0.10.6
ipython==8.30.0
python-slugify==5.0.2
packaging==24.2
smmap==5.0.1
terminado==0.17.1
jupyter_client==8.6.0
jupyterlab==4.2.5
Pygments==2.15.1
defusedxml==0.7.1
chardet==4.0.0
tornado==6.4.2
sentry-sdk==2.19.2
scikit-learn==1.5.2
toml==0.10.2
PySocks==1.7.1
Jinja2==3.1.4
traitlets==5.14.3
mpmath==1.3.0
confection==0.1.5
statsmodels==0.14.4
pycparser==2.21
PyQt5-sip==12.13.0
matplotlib-inline==0.1.6
scipy==1.14.1
python-json-logger==3.2.1
pyparsing==3.2.0
psutil==5.9.0
kagglehub==0.3.6
pandocfilters==1.5.0
coloredlogs==15.0.1
safetensors==0.4.5
annotated-types==0.7.0
prompt-toolkit==3.0.43
numpy==1.26.4
gitdb==4.0.11
prometheus_client==0.21.0
sacrebleu==2.5.1
charset-normalizer==3.3.2
jupyter_server==2.14.1
joblib==1.4.2
platformdirs==3.10.0
arrow==1.3.0
setuptools==72.1.0
spacy==3.8.3
async-lru==2.0.4
websockets==14.1
spacy-loggers==1.0.5
transformers==4.48.0
typer==0.15.1
catalogue==2.0.10
onnx==1.17.0
binaryornot==0.4.4
safehttpx==0.1.6
uc-micro-py==1.0.3
wheel==0.44.0
nbclient==0.8.0
starlette==0.41.3
fastapi==0.115.6
matplotlib==3.9.2
webencodings==0.5.1
cycler==0.11.0
ffmpy==0.5.0
yarl==1.18.0
pip==24.2
kiwisolver==1.4.4
jupyter-lsp==2.2.0
humanfriendly==10.0
numexpr==2.10.1
tabulate==0.9.0
nbformat==5.10.4
multiprocess==0.70.15
typing_extensions==4.12.2
idna==3.7
wandb==0.19.1
xxhash==2.0.2
shellingham==1.5.4
argon2-cffi==21.3.0
ipykernel==6.29.5
MarkupSafe==2.1.3
threadpoolctl==3.5.0
rfc3986-validator==0.1.1
networkx==3.3
blis==1.1.0
cymem==2.0.10
aiosignal==1.2.0
Bottleneck==1.4.2
seaborn==0.13.2
sip==6.7.12
srsly==2.5.0
nest-asyncio==1.6.0
json5==0.9.25
argon2-cffi-bindings==21.2.0
tenacity==9.0.0
h11==0.14.0
pexpect==4.8.0
Brotli==1.0.9
pytz==2024.1
absl-py==2.1.0
pyzmq==26.2.0
preshed==3.0.9
optimum==1.23.3
altair==5.5.0
Babel==2.11.0
fonttools==4.51.0
websocket-client==1.8.0
requests==2.32.3
pdfminer.six==20231228
en_core_web_sm==3.8.0
murmurhash==1.0.11
text-unidecode==1.3
trl==0.13.0
mpi4py==4.0.1
certifi==2024.12.14
decorator==5.1.1
gradio_client==1.5.2
click==8.1.7
click==8.1.8
pydantic==2.10.4
rfc3339-validator==0.1.4
tokenizers==0.21.0
soupsieve==2.5
unicodedata2==15.1.0
deepspeed==0.16.2
python-multipart==0.0.20
pydantic_core==2.27.2
contourpy==1.3.1
PyQt5==5.15.10
ply==3.11
wasabi==1.1.3
peft==0.14.0
httpcore==1.0.2
executing==0.8.3
msgpack==1.1.0
cookiecutter==2.6.0
marisa-trie==1.2.1
notebook_shim==0.2.3
semantic-version==2.10.0
bert-score==0.3.13
einops==0.8.0
hjson==3.1.0
thinc==8.3.3
aiofiles==23.2.1
cryptography==44.0.0
streamlit==1.41.1
GitPython==3.1.43
mkl_fft==1.3.11
py-cpuinfo==9.0.0
regex==2024.9.11
mkl-service==2.4.0
pillow==11.0.0
anyio==4.6.2
PyYAML==6.0.2
narwhals==1.20.1
kaggle==1.6.17
PyPDF2==3.0.1
httpx==0.27.0
sniffio==1.3.0
parso==0.8.4
ruff==0.8.4
frozenlist==1.5.0
pydeck==0.9.1
referencing==0.30.2
filelock==3.13.1
bitsandbytes==0.45.0
attrs==24.3.0
lxml==5.3.0
Unidecode==1.3.8
nbconvert==7.16.4
aiohttp==3.11.10
jupyter-events==0.10.0
bleach==6.2.0
cffi==1.17.1
pdfplumber==0.11.5
spacy-legacy==3.0.12
weasel==0.4.1
orjson==3.10.13
importlib_resources==6.4.0
ordered-set==4.1.0
inflect==7.3.1
importlib_metadata==8.0.0
platformdirs==4.2.2
jaraco.text==3.12.1
typeguard==4.3.0
packaging==24.1
zipp==3.19.2
autocommand==2.2.2
tomli==2.0.1
jaraco.functools==4.0.1
typing_extensions==4.12.2
wheel==0.43.0
jaraco.context==5.3.0
more-itertools==10.3.0
backports.tarfile==1.2.0
